@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

/*DESKTOP*/
@media (min-width: 2000px) and (max-width: 2600px) {
  .Start{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  .TitleStart{
      color: white;
      font-family: 'Paytone One', sans-serif;
      font-size: 90px;
      width: 880px;
      margin-bottom: 0;
      margin-top: 0;
      letter-spacing: 15%;
  }
  .color{
      color: #6C2B8F;
  }
  .TextStart{
      color: white;
      font-family: 'Oxygen', sans-serif;
      font-size: 50px;
      width: 960px;
      letter-spacing: 1px;
      margin-top: 0;
  }
  .buttonStart{
      width: 410px;
      height: 100px;
      border-radius: 15px;
      background-color: #A572C0;
      transition: background-color 0.5s;
      color: black;
      font-family: 'Paytone One', sans-serif;
      font-size: 30px;
      border: none;
      cursor: pointer;
  }
  .buttonStart:hover{
    background-color: #6C2B8F;
    color: white;
  }
  .imgPhone{
      width: 550px;
      height: auto;
  }
  
  .Start.active > div:nth-child(1){
      animation: slideFromLeftBasic 3s forwards;
    }
    
  .Start.active > div:nth-child(2) {
      animation: slideFromRightBasic 3s forwards;
  }
    
  @keyframes slideFromLeftBasic {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
    
  @keyframes slideFromRightBasic {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/*LAPTOP*/
@media (min-width: 1440px) and (max-width: 1999px) {
  .Start{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  .TitleStart{
      color: white;
      font-family: 'Paytone One', sans-serif;
      font-size: 68px;
      width: 700px;
      margin-bottom: 0;
      margin-top: 0;
      letter-spacing: 15%;
  }
  .color{
      color: #6C2B8F;
  }
  .TextStart{
      color: white;
      font-family: 'Oxygen', sans-serif;
      font-size: 36px;
      width: 717px;
      letter-spacing: 1px;
      margin-top: 0;
  }
  .buttonStart{
      width: 360px;
      height: 70px;
      border-radius: 15px;
      background-color: #A572C0;
      transition: background-color 0.5s;
      color: black;
      font-family: 'Paytone One', sans-serif;
      font-size: 24px;
      border: none;
      cursor: pointer;
  }
  .buttonStart:hover{
    background-color: #6C2B8F;
    color: white;
  }
  .imgPhone{
      width: 450px;
      height: auto;
  }
  
  .Start.active > div:nth-child(1){
      animation: slideFromLeftBasic 3s forwards;
    }
    
  .Start.active > div:nth-child(2) {
      animation: slideFromRightBasic 3s forwards;
  }
    
  @keyframes slideFromLeftBasic {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
    
  @keyframes slideFromRightBasic {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/*TABLET*/
@media (min-width: 750px) and (max-width: 1439px) {
  .Start{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  .TitleStart{
      color: white;
      font-family: 'Paytone One', sans-serif;
      font-size: 40px;
      width: 400px;
      margin-bottom: 0;
      margin-top: 0;
      letter-spacing: 15%;
  }
  .color{
      color: #6C2B8F;
  }
  .TextStart{
      color: white;
      font-family: 'Oxygen', sans-serif;
      font-size: 20px;
      width: 417px;
      letter-spacing: 1px;
      margin-top: 0;
  }
  .buttonStart{
      width: 220px;
      height: 50px;
      border-radius: 15px;
      background-color: #A572C0;
      transition: background-color 0.5s;
      color: black;
      font-family: 'Paytone One', sans-serif;
      font-size: 15px;
      border: none;
      cursor: pointer;
  }
  .buttonStart:hover{
    background-color: #6C2B8F;
    color: white;
  }
  .imgPhone{
      width: 300px;
      height: auto;
  }
  
  .Start.active > div:nth-child(1){
      animation: slideFromLeftBasic 3s forwards;
    }
    
  .Start.active > div:nth-child(2) {
      animation: slideFromRightBasic 3s forwards;
  }
    
  @keyframes slideFromLeftBasic {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
    
  @keyframes slideFromRightBasic {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

/*PHONE*/
@media (min-width: 300px) and (max-width: 500px) {
  .Start{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  .TitleStart{
      color: white;
      font-family: 'Paytone One', sans-serif;
      font-size: 17px;
      width: 200px;
      margin-bottom: 0;
      margin-top: 0;
      letter-spacing: 15%;
  }
  .color{
      color: #6C2B8F;
  }
  .TextStart{
      color: white;
      font-family: 'Oxygen', sans-serif;
      font-size: 10px;
      width: 200px;
      letter-spacing: 0px;
      margin-top: 0;
  }
  .buttonStart{
      width: 120px;
      height: 25px;
      border-radius: 10px;
      background-color: #A572C0;
      transition: background-color 0.5s;
      color: black;
      font-family: 'Paytone One', sans-serif;
      font-size: 8px;
      border: none;
      cursor: pointer;
  }
  .buttonStart:hover{
    background-color: #6C2B8F;
    color: white;
  }
  .imgPhone{
      width: 110px;
      height: auto;
  }
  
  .Start.active > div:nth-child(1){
      animation: slideFromLeftBasic 3s forwards;
    }
    
  .Start.active > div:nth-child(2) {
      animation: slideFromRightBasic 3s forwards;
  }
    
  @keyframes slideFromLeftBasic {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
    
  @keyframes slideFromRightBasic {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}